html{
    margin: 0;
}
body{
    margin:0
}
header{
    background-color: #1f2937;
    width: 100vw;
    padding: 0%;
    margin-top: 0;
    line-height: 1;
}
.container{
    display: flex;
    width: 100vw;
    justify-content: space-between;

}

.logo{
    font-size: 24px;
    color: #f9faf8;
    margin-left: 50px;
    display: flex;
    align-items: center;

}
.ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-right: 50px;
}
.left-links{
    text-decoration: none;
    color: #e5e7eb;
}
.hero-container{
    display: flex;
    width: 100vw;
    justify-content:center;
    align-items: center;

}
.hero2{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    padding: 100px;
    
    
}
.hero-mainText{
    font-size: 48px;
    color: #f9faf8;
    margin-top: 50px;
}
.hero-secondaryText{
    font-size: 18px;
    color:#e5e7eb;
    
}
.img{
    width: 500px;
    height:300px;
    justify-content: center;
    padding-top: 100x;
}
.button{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 90px;
    padding: 6px;
    border-color: #3882f6;
}
.info-text{
    font-size: 36px;
    font-weight: bolder;
    text-align:center;
}
/* After header*/
.info-header{
    font-size: 36px;
    color:#1f2937;
    font-weight: bolder;
    text-align: center;
}
.main-container{
    padding:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.info-img{
    width: 130px;
    height: 170px;
    border-radius: 20px;
}
.container-width{
    max-width: 150px;
}
/*Quote*/
.quote-container{
    background-color: #e5e7eb;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}
.quote{
    font-size: 36px;
    font-style: light italic;
    color:#1f2937;
}
.author{
    margin-left: 600px;
}
/*call to action*/
.main{
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;

}
.action-container{
    background-color: #3882f6;
    display: flex;
}
.call{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:  100px;
}
.action-button{
    background-color: #3882f6;
    color: white;
    width: 90px;
    padding: 6px;
    border:2px solid #e5e7eb;
    border-radius:12px;
}
.action-text{
    color: #e5e7eb;
}
.footer-container{
    background-color:#1f2937;
    padding:15px;
    
}
.footer{
    color: #e5e7eb;
    text-align: center;

}